<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krause.cleanarchitecture">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.krause.cleanarchitecture.MemeApp"
        android:allowBackup="true"
        android:icon="@drawable/pepe"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pepe"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <meta-data android:name="io.sentry.dsn" android:value="https://f34414708b35408e8d77614eb2fbbda3@o915944.ingest.sentry.io/5856773" />
        <activity
            android:name="com.krause.cleanarchitecture.ui.main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
